// Styling for the masthead
.logo {
  width: 100px;
  height: 200px;
  border-top: 25px solid $primary;
  border-bottom: 25px solid transparent;
  border-left: 25px solid transparent;
  border-right: 25px solid $primary;
  position: absolute;
  right: 0px;
  background: transparent;
  z-index: 100;
}

header.masthead {
  text-align: center;
  color: $secondary;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-name {
      font-size: 35px;
      line-height: 22px;
      margin-bottom: 25px;
      margin-top: 40px;
      @include serif-font;
    }
    .intro-name-secondary {
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 5px;
      @include serif-font;
    }
    .intro-greeting {
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 200px;
      padding-bottom: 200px;
      .intro-name {
        font-size: 50px;
        line-height: 40px;
        margin-bottom: 5px;
        @include serif-font;
      }
      .intro-name-secondary {
        font-size: 32px;
        line-height: 20px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-greeting {
        font-size: 18px;
        font-weight: 300;
        line-height: 35px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}

// Styling for the navbar
#mainNav {
  background-color: white;
  padding-top: 30px;
  padding-right: 30px;
  z-index: 99;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: $secondary;
    border: 0;
    background-color: $primary;
    @include heading-font;
  }
  .navbar-brand {
    color: $primary;
    &.active,
    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 100%;
        font-weight: 500;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: $secondary;
        @include heading-font;
        &.active,
        &:hover {
          color: $primary;
        }
      }
    }
  }
  .navbar-subtext {
    float: left;
    height: 40px;
    color: $secondary;
    padding-top: 7px;
    padding-right: 15px;
    font-size: 15px;
    font-weight: 100;
    line-height: 20px;
  }
  .navbar-center {
    width: 35%;
    margin: 0px auto;
  }
}



@media(min-width:992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: white;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: white;
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}
